<p *ngIf="!serbycountry"><em>Loading...</em></p>
<div class="m-12">
  <div class="ml-12"><div class="ml-4"></div><div class="ml-4"><h1 id="tableLabel" style="text-align:center;">Services by Country Summary</h1></div><div class="ml-4"></div></div><br /><br />
  <form>
    <div class="form-group form-inline">
      Search country by name:
      <input class="form-control ml-2" type="text" name="searchTerm" [(ngModel)]="searchTerm" (input)="searchCountry($event.target.value)" />
    </div>
  </form>
  <table id="tbservicebycountry" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%" aria-labelledby="tableLabel" *ngIf="serbycountry?.countserpercountry">
    <thead>
      <tr>
        <th scope="col">ID Row</th>
        <th scope="col" sortable="namecountry">Country</th>
        <th scope="col" sortable="countofservice">Cant of Services</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let countsercou of serbycountry?.countserpercountry | slice: (page-1) * pageSize : page * pageSize; index as i">
        <th scope="row">{{ (page -1) * pageSize + i + 1 }}</th>
        <td>{{ countsercou.namecountry}}</td>
        <td>{{ countsercou.countofservice }}</td>
      </tr>
    </tbody>
  </table>
  <!--| listFilter: searchTerm-->
  <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [maxSize]="5" [boundaryLinks]="true"
                  [pageSize]="pageSize" class="d-flex justify-content-center"></ngb-pagination>
</div>
