<p *ngIf="!viewclientssercount"><em>Loading...</em></p>
<div class="m-12">
  <div class="ml-12"><div class="ml-4"></div><div class="ml-4"><h1 id="tableLabel" style="text-align:center;">Clients Services</h1></div><div class="ml-4"></div></div><br /><br />
  <form #forma="ngForm" (ngSubmit)="validarCF( forma )">
    <div class="row justify-content-md-center">
      <div class="col-lg-12">
        <div class="col-lg-12">
          <div class="col-lg-2"></div>
          <div class="col-lg-8">
            <div class="input-group mb-4">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1"><fa-icon [icon]="faAddressCard"></fa-icon></span>
              </div>
              <input name="nit" type="number" [class.is-invalid]="Identification.invalid && Identification.touched" class="form-control" maxlength="250" placeholder="Identification" aria-label="Identification" aria-describedby="basic-addon1" required ngModel #Identification="ngModel" [(ngModel)]="model.nit">
              <!--<input name="Identification" type="text"   class="form-control" placeholder="Identification" aria-label="Identification" aria-describedby="basic-addon1" ngModel #identification="ngModel" title="Client Identification" [(ngModel)]="model.Identification">-->
            </div>
            <small *ngIf="Identification.invalid && Identification.touched" class="validacion form-text text-danger"> Indentification is required</small>
          </div>
          <div class="col-lg-2"></div>
        </div>
        <div class="col-lg-12">
          <div class="col-lg-2"></div>
          <div class="col-lg-8">
            <div class="input-group mb-12">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">
                  <fa-icon [icon]="faUser"></fa-icon>
                </span>
              </div>
              <input name="name" type="text" class="form-control" maxlength="250" placeholder="Name" aria-label="Name" aria-describedby="basic-addon1" required ngModel #Name="ngModel" [(ngModel)]="model.name">
            </div>
            <small *ngIf="Name.invalid && Name.touched" class="validacion form-text text-danger"> Name is required</small>
          </div>
          <div class="col-lg-2"></div>
        </div><br />
        <div class="col-lg-12">
          <div class="col-lg-2"></div>
          <div class="col-lg-8">
            <div class="input-group mb-12">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">@</span>
              </div>
              <input name="email" type="email" [class.is-invalid]="Email.invalid && Email.touched" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" class="form-control" maxlength="70" placeholder="Email" aria-label="Email" aria-describedby="basic-addon1" required ngModel #Email="ngModel" [(ngModel)]="model.email" email="true">
            </div>
            <small *ngIf="Email.invalid && Email.touched" class="validacion form-text text-danger"> Email is required or format is not correct</small>
          </div>
          <div class="col-lg-2"></div>
        </div><br />
        <div class="col-lg-12">
          <div class="col-lg-2"></div>
          <div class="col-lg-8">
            <div class="form-group">
              <select name="idservice" class="browser-default custom-select" aria-label="Service" placeholder="Service" required ngModel #IdService="ngModel" [(ngModel)]="model.idservice" (ngModelChange)="onOptionsSelected($event)">
                <option *ngFor="let service of viewclientssercount.services" [value]="service.id"> {{service.name}} {{service.priceperhour | currency}}</option>
              </select>
            </div>
          </div>
          <small *ngIf="IdService.invalid && IdService.touched" class="validacion form-text text-danger"> Service is required</small>
          <div class="col-lg-2"></div>
        </div><br />
        <div class="col-lg-12">
          <div class="col-lg-2"></div>
          <div class="col-lg-8">
            <div class="input-group mb-12">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">$</span>
              </div>
              <input id="txtPrice" type="text"  disabled="disabled" class="form-control" value="{{priceperhourd | currency}}" placeholder="Price per Hour" aria-label="Price" aria-describedby="basic-addon1" />
            </div>
          </div>
          <div class="col-lg-2"></div>
        </div><br />
        <div class="col-lg-12">
          <div class="col-lg-2"></div>
          <div class="col-lg-8">
            <select name="idcountry" class="browser-default custom-select" aria-label="Country" placeholder="Country" required ngModel #IdCountry="ngModel" [(ngModel)]="model.idcountry">
              <option *ngFor="let country of viewclientssercount.countries" [value]="country.id"> {{country.name}} </option>
            </select>
          </div>
          <small *ngIf="IdCountry.invalid && IdCountry.touched" class="validacion form-text text-danger"> Country is required</small>
          <div class="col-lg-2"></div>
        </div><br />
        <br /><br />
              <div class="col-lg-12" style="display:inline-block !important;">
                <div class="col-sm-4" style="display:inline-block !important;">
                  <button type="submit" name="save" class="btn btn-primary btn-sm btn-block" title="Save client"> Save </button>
                </div>
                <div class="col-sm-4" style="display:inline-block !important;">
                  <button type="button" name="deleteall" class="btn btn-secondary  btn-sm btn-block" title="Delete all services" (click)="deleteall()"> Delete All Services</button>
                </div>
                <br />
                <div class="col-sm-4" style="display:inline-block !important;">
                  <!-- Default checked -->
                  <div class="custom-control custom-switch">
                    <input name="cache" type="checkbox" class="custom-control-input" id="chkSaveT" [(ngModel)]="model.cache">
                    <label class="custom-control-label" for="chkSaveT">Save  temporally data</label>
                  </div>
                </div>
              </div>
      </div>
    </div>
  </form><br /><br />
  <!--<table class="table table-striped">-->
  <div *ngIf="viewclientssercount.clientssercount" id="pnlTable">
    <div id="pnlfilter">
      <div class="form-group form-inline">
        Search client by name:
        <input class="form-control ml-2" type="text" name="searchTerm" [(ngModel)]="searchTerm"
              (input)="searchClient($event.target.value)" />
      </div>
    </div>
    <table id="tbclientservice" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%" aria-labelledby="tableLabel" *ngIf="viewclientssercount?.clientssercount">
      <thead>
        <tr>
          <th scope="col">ID Row</th>
          <th scope="col" sortable="idclient">ID Client</th>
          <th scope="col" sortable="name">Client</th>
          <th scope="col" sortable="idservice">Id Serivce</th>
          <th scope="col" sortable="service">Serivce</th>
          <th scope="col" sortable="idcountry">ID Country</th>
          <th scope="col" sortable="country">Country</th>
          <th scope="col" sortable="priceperhour">Price Per Hour</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let clients of viewclientssercount.clientssercount | slice: (page-1) * pageSize : page * pageSize; index as i" (dblclick)="onRowDblClick($event)">
          <th scope="row">{{ (page -1) * pageSize + i + 1 }}</th>
          <td>{{ clients.idclient}}</td>
          <td>{{ clients.name }}</td>
          <td>{{ clients.idservice }}</td>
          <td>{{ clients.service }}</td>
          <td>{{ clients.idcountry }}</td>
          <td>{{ clients.country }}</td>
          <td>{{ clients.priceperhour | currency}}</td>
        </tr>
      </tbody>
    </table>
    <!--| listFilter: searchTerm-->
    <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [maxSize]="5" [boundaryLinks]="true"
                    [pageSize]="pageSize" class="d-flex justify-content-center"></ngb-pagination>
  </div>
</div>
